
<header class="customf">

    <div class="header-logo" >
        <img class="customlogo" src="https://static.wikigta.org/nl/images/8/8e/Los_Santos_Customs_logo.png" alt="ls custom">
    </div>
  
    <div class="custom1">
      <h1 class="customtitre"> LS custom </h1>
  
      <ul class="custommenu">
        
        <li><a routerLink="accueil">accueil</a></li>
        <li><a routerLink="liste-voiture">liste-voiture</a></li>
        <li><a routerLink="creer-voiture">creer-voiture</a></li>
     </ul>
  
    </div>
