

<section class="dis"> 

    <div class="ww" >

        <h2 class="customA"> acceuil </h2>

        <p class="intro"> Bienvenue chez LS Custom, votre destination ultime pour la personnalisation automobile. Inspiré par
        l'univers du jeu Grand Theft Auto V, notre garage transforme votre véhicule en une véritable œuvre d'art sur roues.
        Que vous souhaitiez améliorer les performances de votre moteur, redéfinir le style extérieur de votre voiture ou
        ajouter des touches uniques à l'intérieur, notre équipe de passionnés est là pour réaliser vos rêves. Chez Los
        Santos Custom, chaque projet est une nouvelle aventure où créativité et expertise se rencontrent pour donner vie à
        des véhicules exceptionnels. Venez découvrir un lieu où votre imagination est notre seule limite, et laissez-nous
        faire de votre voiture une véritable légende de la route. </p>

    </div>

    <div>
        <img class="img" src="https://f1rstmotors.com/_next/image?url=https%3A%2F%2Ff1rst-motors.s3.me-central-1.amazonaws.com%2Fheroslider%2F1714995932990-blob&w=3840&q=100" alt="ls">





    </div>

</section>