.customA{

    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: dashed;
    text-decoration: underline;
    color: darkgrey;

}

.intro{

    font-family:Arial, Helvetica, sans-serif;
    color: black;
    text-align: left;
    margin-right: 15%;
    display: flex;

}

.img{

    display:flex;
    justify-content:space-around;
    width: 103%;
    margin-top: 10%;



}

.dis{

    display: flex;


}

.ww{

    width: 190%;




}