.creer{

    border-color: rgb(80, 53, 118);
    justify-content: center;
    
    
    }
    
    .formu{
    
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
    font-size: smaller;
    margin-top: 7%;
    
    
    }

    .title{

font-family: Verdana, Geneva, Tahoma, sans-serif;
font-size: larger;
color:darkgrey;
text-align: center;
margin-top: 5%;



    }

.fieldset{


display: inline;
border-color: rgb(80, 53, 118);


}