<footer>
    
    <section class="footer">
        <h3 class="titre"> Bougdou Ziyad </h3>

        <div class="footer-logo">

            <a href="https://www.instagram.com/"  target=”_blank”>
                <img class="insta" src="https://cdn4.iconfinder.com/data/icons/picons-social/57/38-instagram-2-512.png" alt="insta">
            </a>
            <a href="https://www.facebook.com/" target=”_blank”>
                <img class="fb" src="https://cdn3.iconfinder.com/data/icons/social-media-black-white-2/512/BW_Facebook_glyph_svg-512.png" alt="fb">
            </a>
            <a href="https://www.linkedln.com/" target=”_blank”>
                <img class="lkd" src="https://cdn3.iconfinder.com/data/icons/picons-social/57/11-linkedin-256.png" alt="linkedln">
            </a>
        </div>

    </section>

</footer>



